<section class="sheet-details sidebar" data-tooltip-direction="UP">
    <div class="inventory-details">
        <div class="sidebar-row">
            <label>Infiltration Points</label>
            <input name="details.infiltrationPoints" type="number" value="{{object.details.infiltrationPoints}}">
        </div>
        <div class="sidebar-row">
            <label>Awareness Points</label>
            <input name="details.awarenessPoints" type="number" value="{{object.details.awarenessPoints}}">
        </div>
        <div class="sidebar-row">
            <label>Edge Points</label>
            <input name="details.edgePoints" type="number" value="{{object.details.edgePoints}}">
        </div>
    </div>
</section>
