<section class="sheet-details sidebar" data-tooltip-direction="UP">
    <div class="inventory-details">
        <div class="form-group">
            <label for="research-points">Research Points</label>
            <input data-id="research-points" name="details.researchPoints" type="number" value={{object.details.researchPoints}} />
        </div>
    </div>
</section>
