<div class="obstacle-details">
    <div class="grid-item points">
        <label for="obstacle-points">Points</label>
        <input id="obstacle-points" name="actions.{{type}}.{{action.id}}.points" type="number" value={{action.points}} >
    </div>
</div>