<section class="sheet-details sidebar" data-tooltip-direction="UP">
    <div class="inventory-details">
        <div class="form-group">
            <label for="activity-points">Current Points</label>
            <input data-id="activity-points" name="details.points" type="number" value={{object.details.points}} />
        </div>
        <div class="form-group">
            <label for="activity-endPoint">End Goal</label>
            <input data-id="activity-endPoint" name="details.endPoint" type="number" value={{object.details.endPoint}} />
        </div>
        <div class="form-group">
            <label for="activity-turnBased">Turn Based Activity</label>
            <input data-id="activity-turnBased" name="details.turnBased" type="checkbox" {{#if object.details.turnBased}}checked{{/if}} />
        </div>
        <div class="form-group">
            <label for="activity-automatic">Accrued Per Turn</label>
            <input data-id="activity-automatic" name="details.automatic" type="number" value={{object.details.automatic}} />
        </div>
    </div>
</section>