<div class="wrapper">
    {{#unless (isEmpty object.details)}}
        <div data-application-part="details"></div>
    {{/unless}}
    <div class="info">
        <div data-application-part="description"></div>
        <div data-application-part="actions"></div>
        <div data-application-part="rewards"></div>
    </div>
</div>