<nav class="sheet-tabs">
    <div class="sidebar-summary">Activity Settings</div>
    <div class="tabs" data-tab-container="primary">
        <a class="list-row" data-tab="description">Description</a>
        <a class="list-row" data-tab="actions">Actions</a>
        <a class="list-row" data-tab="rewards">Rewards</a>
    </div>
</nav>