<header class="sheet-header">
    <img src="systems/pf2e/icons/actions/Passive.webp" data-edit="img">
    <div class="details">
        <input name="title" type="text" value="{{object.title}}" placeholder="Activity Name" spellcheck="false" aria-label="Name">
    </div>
</header>