[data-tab="subsystems"] {

    aside {

        nav {

            button {
                border: none;
                font-size: var(--font-size-18);
                font-weight: 500;
                padding: 0.5rem 0.5rem;
                white-space: nowrap;
                margin: 0.3rem 0;

                &.active {
                    background: var(--secondary);
                    color: var(--text-light);
                }
            }
        }
    }
    .content {
        padding: 0.5rem;
    }

    .activities {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .activity {
        border-image-repeat: repeat;
        border-image-slice: 11;
        border-image-source: url("../../../systems/pf2e/assets/sheet/frame-elegant.svg");
        border-image-width: 14px;
        border-style: double;
        display: flex;
        align-items: center;
        height: 5rem;
        font-family: var(--serif);
        padding: 1rem;

        .sub-data {
            flex: 1 0 auto;
            display: flex;
        }
        
        .title {
            color: var(--primary-dark);
            font-size: var(--font-size-16);
            line-height: 1em;
            display: flex;
            cursor: pointer;
            align-items: center;
            gap: 0.5rem;
        }

        .activity-controls {
            display: flex;
            justify-content: end;
            a {
                display: flex;
                cursor: pointer;
            }
        }
    }

    .empty {
        div {
            cursor: pointer;
        }
        .icon {
            border: 1px dashed var(--color-border);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: var(--font-size-14);
            height: 2.125rem;
            width: 2.125rem;
        }
        
    }
}

form.pf2e-subsystem {
    .subsystem-details {
        display: flex;
        flex-flow: column nowrap;
        gap: var(--space-4);
        overflow: hidden scroll;
        padding: var(--space-8) var(--space-4) 0 0;

        .form-group {
            column-gap: var(--space-4);
            flex-wrap: nowrap;
            margin: 0;
            padding: 0 var(--space-2) 0 0;

            label {
                flex: 0 0 5em;
                font-weight: 500;
                white-space: nowrap;
            }
            input {
                margin-left: auto;
                max-width: 4rem;
            }
            #activity-turnBased {
                margin-left: auto;
                max-width: 4rem;
            }
        }
    }

    

    .action-list {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        flex: 1;
        overflow: hidden scroll;
        padding-right: 0.15rem;

        header {
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 0 2px rgba(255, 255, 255, 0.2);
            align-items: center;
            background-color: var(--color-pf-alternate);
            color: var(--color-text-light-0);
            display: flex;
            font-family: var(--sans-serif);
            font-size: var(--font-size-10);
            justify-content: end;
            letter-spacing: 0.05em;
            line-height: 1;
            margin-top: var(--space-6);
            padding: var(--space-4) 0;
            text-rendering: optimizeLegibility;
            text-transform: uppercase;
            width: 100%;

            h3 {
                padding-left: var(--space-8);
                align-items: center;
                display: flex;
                flex: 2;
                font-weight: 500;
                gap: 0.25rem;
                padding-right: 0.25rem;
                text-transform: capitalize;
                font-size: var(--font-size-14);
                margin: 2px 0;
                text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
            }

            .actionType-controls {
                display: flex;
                padding-right: var(--space-4);
                flex-basis: 5.625rem;
                font-size: var(--font-size-12);
                gap: var(--space-4);;
                justify-content: end;
            }
        }

        .actions {
            border-top: none;
            border: 1px solid var(--color-pf-alternate);
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                width: 100%;

                .data {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    width: 100%;

                    .action-name {
                        align-items: center;
                        display: flex;
                        flex: 2;
                        font-weight: 500;
                        gap: 0.25rem;
                        padding-right: 0.25rem;
                        padding-left: 0.25rem;

                        h4 {
                            font-weight: 500;
                            line-height: var(--font-size-24);
                            margin: auto auto auto 0;
                            padding: var(--space-2);
                            word-break: break-word;
                        }
                    }

                    .action-controls {
                        display: flex;
                        align-items: center;
                        justify-content: end;
                    }

                    .action-summary {
                        background: rgba(255, 255, 255, 0.333);
                        border-bottom: 1px solid var(--color-pf-alternate);
                        border-top: 1px solid var(--color-pf-alternate);
                        flex: 100%;
                        padding: var(--space-4) var(--space-8) var(--space-8);
                    }
                }
            }

            li:nth-of-type(even) {
                background-color: rgba(120, 100, 82, 0.1);
            }
        }
    }

    .rewards {
        padding-top: 0.5em;
        padding-right: 0.5em;

        .create-reward {
            display: flex;
            align-items: center;
            white-space: nowrap;
            gap: 6px;
            justify-content: flex-end;
        }

        .rewards-form {
            border-bottom: 1px solid var(--secondary-background);
            padding-bottom: 0.5rem;
            margin-bottom: 1.5rem;
            
            .reward-header {
                display: flex;
                align-items: center;
                margin-bottom: 0.25rem;
                border-bottom: 1px solid var(--color-border-light-primary);
                padding-bottom: 0.5em;

                .drag-handle {
                    cursor: grab;
                    font-weight: normal;
                    margin-right: 0.375rem;
                    padding: 0.125rem;
                }

                h3 {
                    flex: 1;
                    margin: 0;
                    white-space: nowrap;
                    padding-right: 0.5em;
                    flex-grow: unset;
                    cursor: pointer;
                }

                h3.title:hover {
                    text-shadow: 0 0 8px var(--color-shadow-primary);
                }
                
                input {
                    float: left;
                }

                .item-controls {
                    margin-left: auto;
                }
            }

            .container {
                display: grid;

                .stacked {
                    display: grid;
                    grid-template-columns: 1fr 4fr;
                    column-gap: 0.5rem;
                }

                .xp {
                    display: grid;
                    grid: 1fr/2em 1fr;
                }

                .treasure {
                    display: grid;
                    grid: 1fr/5em 0fr 1fr 0fr 1fr 0fr 1fr 0fr 1fr;
                    gap: 0.5em;
                }

                .items {
                    grid-template: 1fr/3em 1fr;

                    div.itemBar {
                        background: rgba(0, 0, 0, 0.05);
                        display: flex;
                        padding: 0.5em;
                        align-items: center;
                        min-height: 31px;
                        flex-wrap: wrap;

                        div {
                            margin-right: 0.5em;
                            margin-bottom: 0.5em;
                            display: flex;
                            flex-wrap: nowrap;
                            align-items: center;
                        }

                        span {
                            margin-right: 0.5em;
                            margin-bottom: 0.5em;
                            display: flex;
                            flex-wrap: nowrap;
                            align-items: center;
                        }
                    }

                    .highlight {
                        box-shadow: 0 0 8px var(--color-shadow-primary)
                    }
                }

                .notes textarea {
                    height: 6rem;
                }

                .grid-item {
                    display: grid;
                    align-items: center;
                    padding-bottom: 0.5em;
                }
            }
        }
    }
}